body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul{
  list-style-type: none;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}

.button {
    border-radius: 28px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}

.button.cta {
    background-color: #14B46C;
    border-color: #14B46C;
}

.button:hover {
    opacity: 0.8;
}

main {
    padding-top: 60px;
}
/*** fine regole layout base ***/

/*** header ***/
header {
    background-color: #FFB100;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    height: 27px;
    margin-top: calc((60px - 27px) / 2);
    cursor: pointer;
}

#accedi-container {
    text-align: right;
}

#accedi {
    background-color: rgba(255,255,255,0.25);
    color: white;
    padding: 8px 16px;
    line-height: 60px;
    margin-right: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#accedi i {
    margin-right: 5px;
    font-size: 12px;
}
/*** fine header ***/

/*** jumbo ***/
#jumbo {
    background-color: #FFB100;
    height: 900px;
    padding-right: 60px;
    padding-bottom: 80px;
}

#jumbo-img {
    background-image: url('https://www.nowtv.it/content/dam/static/contentimages/original/sezioni/nowtv/1_home_trial/2018/visori_nuovi/VisoreDoppioXF13_1994.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#jumbo-text {
    background-color: white;
    width: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    padding: 30px 40px;
    color: #680091;
    text-align: center;
    border-radius: 5px;
}

#jumbo-text img {
    margin-bottom: 30px;
}

#jumbo-text p {
    line-height: 1.5;
}

#jumbo-text .cta {
    display: block;
    padding: 16px 20px;
    margin-top: 30px;
}

/*** fine jumbo ***/

/*** ribbon ***/
#ribbon {
    background-color:  #680091;
    height: 70px;
}

#ribbon p {
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

#ribbon .button {
    margin-left: 20px;
    font-weight: normal;
}

#movies img {
    width: 100%;
    border-right: 5px solid white;
}

/* #movies .col-lg-3:last-child img {
    border-right: none;
} */

#info-vantaggi{
  background-color: #022b42;
  text-align: center;
  color: #fff;
  margin-top: -4px;
}

.info{
  padding-left: 15px;
  padding-right: 15px;
}

#info-vantaggi h2{
  display: inline-block;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 50px;
}

#info-vantaggi h3{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info-vantaggi p{
  font-size: 16px;
  margin-bottom: 70px;
}

#info-vantaggi img{
  width: 90px;
  height: 90px;
}

#sport{
  background-color: #1C5EEA;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

#sport h2{
  font-size: 30px;
  line-height: 1.2;
  margin: 30px auto 17px auto;
  display: inline-block;
}

#sport img{
  max-width: 100%;
  display: block;
  margin: auto;
}

#sport a{
  display: block;
  margin: auto;
  color: white;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  padding: 13px 20px;
  font-size: 14px;
  max-width: 220px;
  font-weight: bold;
}

#sport a:hover{
  opacity: .8;
}

#tv{
  background-color: #003366;
  text-align: center;
  color: white;
  padding-bottom: 30px;

}

#tv h2{
  font-size: 30px;
  line-height: 1.2;
  margin: 30px auto 17px auto;
  display: inline-block;
}

#tv p{
  margin: 10px auto 20px auto;
}

#tv img{
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 17px;
}

#tv a{
  display: block;
  margin: auto;
  color: white;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 24px;
  padding: 13px 20px;
  font-size: 14px;
  max-width: 220px;
  font-weight: bold;
}

#tv a:hover{
  opacity: .8;
}



footer{
  color: white;
  line-height: 1.25;
  padding: 34px 15px;
  background-color: #1c1c21;
  text-align: left;
}

footer .col-lg-12, footer .col-lg-3{
  padding-left: 15px;
  padding-right: 15px;
}

footer a{
  color: white;
}

footer p{
  margin-top: 28px;
  margin-bottom: 12px;
  color: #aaacb1;
  font-size: 12px;
}

footer p > a{
  text-decoration: underline;
  color: white;
}

footer img{
  margin-bottom: 42px;
}

.icone-social{
  color: white;
}

.icone-social .fab{
  font-size: 1.6em;
}

.icone-social li{
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-info a{
  display: inline-block;
  padding: 0 10px 20px;
}



@media screen and (max-width: 1620px){
  #jumbo{
    height: 700px;
  }
}

@media screen and (max-width: 1440px) {
    #jumbo {
        height: 650px;
    }

    #jumbo-text {
        left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #jumbo {
        height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    #jumbo {
        height: 920px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    #jumbo-img {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    #jumbo-text {
        top: 590px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }

    #movies .col-md-6{
      width: 50%;
    }

    #movies .col-lg-3:nth-child(1n+3){
      display: none;
    }
}

@media screen and (max-width: 1023px) {

    #accedi {
        background: transparent;
        margin-right: 0;
    }

    #accedi span {
        display: none;
    }

    #accedi i {
        font-size: 16px;
    }

    #jumbo {
        height: 760px;
    }

    #jumbo-img {
        height: 400px;
    }

    #jumbo-text {
        top: 390px;
    }

    footer{
      text-align: center;
    }

    footer.container{
      width:730px;
    }

    footer .col-md-12{
      width: 100%;
    }

    footer .col-md-6{
      width:50%;
    }

    .footer-info li{
      height: 46px;
      border-top: 1px solid rgba(255,255,255,0.25);
    }

    .footer-info ul:last-child{
      border-bottom: 1px solid rgba(255,255,255,0.25);
    }

    .footer-info a{
      padding: 13px 10px;
    }

    .icone-social{
      margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {

    header {
        height: 50px;
    }

    main {
        padding-top: 50px;
    }

    #logo-container img {
        margin-top: calc((50px - 27px) / 2);
    }

    #accedi {
        line-height: 50px;
        font-size: 20px;
    }

    #accedi i {
        font-size: 20px;
    }

    #jumbo {
        height: 660px;
    }

    #jumbo-img {
        height: 350px;
        width: 100%;
        background-size: contain;
        background-position: center;
    }

    #jumbo-text {
        width: 80%;
        top: 325px;
    }

    #ribbon {
        height: auto;
    }

    #ribbon .ribbon-cta-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    #ribbon .button {
        margin-left: 0;
    }

    #movies .col-xs-12{
      width: 100%;
    }

    #movies .col-md-6:nth-child(2){
      display: none;
    }

    footer .col-xs-12{
      width: 100%;
    }

    footer .no-border-top{
      border: hidden ;
    }
}

@media screen and (max-width: 480px) {
  #jumbo {
    height: 600px;
  }

  #jumbo-img {
    width: 100%;
    background-size: contain;
    background-position: top;
  }

  #jumbo-text {
    width: 90%;
    height: 100%;
    top: 235px;
  }
}
